html{
    background: url(main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
@media (max-width: 768px) {
    html {
        height: auto; /* Adjust the height for tablets */
    }
}

/* Media query for phones */
@media (max-width: 480px) {
    html {
        height: auto; /* Adjust the height for phones */
    }
}
.Login{
    width: 330px;
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 100px;
    margin-left: 4%;
    box-shadow: -3px -3px 9px #aaa9a9a2,3px 3px 7px rgba(147, 149, 151, 0.671);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media(max-width:767px){
    .Login{
        width: 100%;
        margin-left: 0;
    }
}
h1{
    color: aqua;
}
h3{
    color: aquamarine;
}
p{
    color: aquamarine;
    font-size: 20px;
}
p a{
    color: aquamarine;
    text-decoration: underline;
}
.uname .fa{
    font-size: 25px;
    
}
#first{
    font-size: 20px;
    
}
#Username{
    font-size: 15px;
    border-color: aqua;    
}
#password{
    font-size: 15px;
    margin-top: 10px;
    border-color: aqua;

}
.eye-icon{
    width: 18px;
    margin-left: -24px;
    margin-top: 14px;
    position: absolute;
    cursor: pointer;

}
.psw{
    font-size: 20px;
    
}
/* .submit{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
} */
.icon-button .facebook {
    font-size: 20px;
    margin-right: 20px;
    color: aquamarine;
    
}

.icon-button .Google {
    font-size: 20px;
    margin-right: 20px;
    color: aquamarine;
}
.or{
    color: rgba(255, 255, 255, 0.733);
    margin-top: -20px;
    margin-left: 100px;
    font-size: 20px;
    
  }
  #loginBtn {
    /* background-color: aquamarine; */
    color: aquamarine;
    padding: 10px 15px;
   
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  .field input{
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
  }
  @media screen and (max-width: 300px) {
    .loginBtn {
       width: 100%;
    }
  }

 .toggle-password {
    cursor: pointer;
    transform: translate(-50);
    top: 300px;
    font-size: 20px;
    position: absolute;
    
 }
  